<div class="login-container">
  
    <h2 class="p">Login</h2>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  

    <form [formGroup]="loginForm" (ngSubmit)="login()">
  
     
      <div>
        <label for="email" class="p">Email</label>
        <input id="email" type="email" class="p" formControlName="email" placeholder="Enter your email">
        
    
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
          <small *ngIf="loginForm.controls['email'].errors?.['required']">Email is required.</small>
          <small *ngIf="loginForm.controls['email'].errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>
  
  
      <div>
        <label for="password" class="p">Password</label>
        <input class="p" id="password" type="password" formControlName="password" placeholder="Enter your password">
        
       
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          <small *ngIf="loginForm.controls['password'].errors?.['required']">Password is required.</small>
        </div>
      </div>
  
    
      <div>
   
        <button class="btn" (click)="goBack()">Voltar</button>
        <button type="submit" class="btn" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>

  