<div class="create-account-container">
    <h2 class="p">Create Account</h2>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  

    <form [formGroup]="createAccountForm" (ngSubmit)="createAccount()">

      <div>
        <label for="email" class="p">Email</label>
        <input id="email" type="email" class="p" formControlName="email" placeholder="Enter your email">
        
        <div *ngIf="createAccountForm.controls['email'].invalid && createAccountForm.controls['email'].touched">
          <small *ngIf="createAccountForm.controls['email'].errors?.['required']">Email is required.</small>
          <small *ngIf="createAccountForm.controls['email'].errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>
  
      <div>
        <label for="password" class="p">Password</label>
        <input id="password" type="password" class="p" formControlName="password" placeholder="Enter your password">
        
        <div *ngIf="createAccountForm.controls['password'].invalid && createAccountForm.controls['password'].touched">
          <small *ngIf="createAccountForm.controls['password'].errors?.['required']">Password is required.</small>
          <small *ngIf="createAccountForm.controls['password'].errors?.['minlength']">Password must be at least 6 characters long.</small>
        </div>
      </div>
  
      <div>
        <label for="confirmPassword" class="p">Confirm Password</label>
        <input id="confirmPassword" type="password" class="p" formControlName="confirmPassword" placeholder="Confirm your password">
        
        <div *ngIf="createAccountForm.hasError('mismatch') && createAccountForm.controls['confirmPassword'].touched">
          <small class="password-mismatch">Passwords do not match.</small>
        </div>
      </div>
  
      <div>
        <button class="btn" (click)="goBack()">Voltar</button>
        <button type="submit" class="bnt" [disabled]="createAccountForm.invalid">Create Account</button>
      </div>
    </form>
  </div>
  
